html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #000; 
  color: #fff; 
  margin: 0; 
}

h1 {
  font-size: 2.75rem; 
}

.header {
  display: flex;
  align-items: center;
  width: 100%; 
  padding: 1rem; 
}

.header .lets-talk {
  position: fixed;
  bottom: 3rem; 
  left: 50%; 
  transform: translateX(-50%); 
  margin: 0 auto;
  color: #fff;
  z-index: 10;
  transition: all 500ms ease-in-out; 
}

.header .lets-talk.is-hidden {
  opacity: 0; 
  visibility: hidden; 
}

.header .hamburger {
  margin-left: auto; 
}

.nav {
  width: 100%;
  display: flex; 
}

.brand {
  padding: 1rem; 
  min-height:  100px; 
  min-width: 100px; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color: #E42F73; 
  position: relative; 
  z-index: 12; 
}

.brand__logo {
  width: 40px; 
  fill: #fff; 
}

.hamburger {
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  text-align: left;
  margin: 0; 
  border: 0;  
  -webkit-appearance: none;
}
.hamburger__container {
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before, .hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -9px;
}
.hamburger__inner::after {
  top: 9px;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before, .hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: 000;
  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before, .hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: 000;
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -9px;
}
.hamburger__hidden::after {
  top: 9px;
}

.lets-talk {
  color: #fff; 
  background-color: transparent;
  border: 0; 
  padding: 0; 
  margin: 0; 
  -webkit-appearance: none;
  display: flex;  
  align-items: center;
}

.lets-talk__label {
  display: none;
}

.lets-talk__icon {
  width: 3rem;
}

.drawer {
    transition: left 0.5s ease;
    background: rgb(228,47,115);
    background: linear-gradient(135deg, rgba(228,47,115,1) 0%, rgba(255,102,0,1) 100%);
    color: white;
    font-size: 2rem;
    height: 100vh;
    padding: 3.25rem 1.5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 720px;
    z-index: 11;
}

.drawer.is-open {
  overflow-y: auto;
}

.drawer--left {
  left: -720px;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
}

.drawer--left.is-open {
  left: 0px;
}

.drawer--right {
  right: -720px;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  z-index: 15;
}

.drawer--right.is-open {
  right: 0px;
}

.drawer__header {
  margin-bottom: 2rem; 
}

.button {
  display: inline-block;
  padding: .5rem 1rem; 
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent; 
  color: #E42F73;
}

.button--outlined {
  border-color: #E42F73;
  background-color: transparent; 
}

.button--inverse {
  border-color: #fff;
  color: #fff;
  background-color: transparent
}

.label {
  display: block; 
  font-size: 1rem;
  width: 100%; 
  padding-bottom: .5rem; 
}

.input {
  display: block; 
  width: 100%; 
  padding: .5rem; 
  border: 1px solid transparent;
}

.input--inverse {
  border-color: #fff; 
  background-color: transparent;
  color: #fff; 
}

.form {
  display: flex; 
  flex-wrap: wrap;
  width: 100%; 
}

.form--lets-talk {
 padding-right: 2rem; 
}

.form__group {
  flex: 0 1 100%; 
  max-width: 100%; 
}

.form__group + .form__group {
  margin-top: 1rem;
}

.textarea {
  display: block;  
  width: 100%; 
  padding: .5rem; 
}

.textarea--inverse {
  border-color: #fff; 
  background-color: transparent;
  color: #fff; 
}

.c3b806aa {
  border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  white-space: nowrap;   
}


.close {
  position: relative; 
  width: 24px; 
  height: 24px; 
  padding: 1rem; 
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.close__bar1 {
  height: 2px;
  width: 24px;
  background: #Fff;
  position: absolute;
  -webkit-transition: background .3s ease;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close__bar2{
	height: 2px;
	width: 24px;
	border-radius: 3px;
	background: #FFF;
	position: absolute;
	-webkit-transition: background .3s ease;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close:hover .close__bar1{
	-webkit-animation: hover-close-1 .3s ease;
	background: #555;
	-webkit-transition: background .3s ease;
}

.close:hover .close__bar2{
	-webkit-animation: hover-close-2 .3s ease;
	background: #555;
	-webkit-transition: background .3s ease;
}

@-webkit-keyframes hover-close-1 {
  0% {
    -webkit-transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}


@-webkit-keyframes hover-close-2 {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

.menu {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.menu--main {
  text-align: right;
  padding-right: 2rem;
  opacity: 0;  
}

.menu--main .menu__item +  .menu__item  {
  margin-top:  1rem;
}


.menu--main.is-visible {
  opacity: 1; 
  transition: opacity 1000ms ease; 
}

.menu--main .menu__link:after {
  content: '';
  position: absolute; 
  bottom: -.5rem; 
  right:  0;  
  width: 0; 
  height: 2px; 
  background-color: #fff; 
  transition: width 350ms ease-in-out; 
}

.menu--main .menu__link:hover:after,
.menu--main .menu__link:focus:after
 {
  width: 100%;
}

.menu--social {
  display:  flex;
  align-items: center;
  justify-content:  flex-end; 
  width: 100%;
  margin-top: 3rem;
  padding-right: 2rem;
  opacity: 0;
}

.menu--social.is-visible {
  opacity: 1; 
  transition: opacity 1000ms ease; 
}

.menu__link {
  color: #fff;
  text-decoration: none;
  position:  relative; 
}

.menu__icon {
  width: 1.25rem; 
}

.menu__icon path {
  fill: #fff; 
}

.menu--social .menu__item + .menu__item {
  margin-left: 2rem; 
}

.container {
  padding: 0 1rem; 
}

.intro {
  padding: 0 1.5rem; 
  margin-bottom: 3rem; 
}

.intro__title {
  font-size: 2rem; 
}

.intro__text {
  font-size: 1.125rem; 
}

.foci {
  background-color: #272126;
  padding: 3rem 1.25rem; 
}

.foci__list {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.banner {
  position: relative;
  text-align: center;
}

.banner__inner {
  overflow: hidden;
  max-width: 600px;
}

.banner__img {
  width: 100%; 
  display: block;
  margin:0 -38.885%;
  width:177.777%;
}

.banner__wrapper {
  position: absolute;
  z-index: 1;
  top: 50%; 
  transform: translateY(-50%);
  left: 0; 
  right: 0; 
  width: 100%; 
  padding: 0 1.5rem; 
  text-align: center;
  
}

.banner__title {
  position: relative;
  font-size: 2rem; 
  padding-bottom: 1.5rem;
}

.banner__title:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px; 
  height: 2px;
  background-color: #E42F73;
  margin: 0 auto;  
}

.work-item {
  background-color: #272126;
}

.work-item--alt {
  background: rgb(228,47,115);
  background: linear-gradient(0deg, rgba(228,47,115,1) 0%, rgba(255,102,0,1) 100%);
}

.work-item--alt .button {
  border-color: #fff; 
  color: #fff; 
}

.work-item__thumb {
  overflow: hidden;
  max-width: 600px;
  margin: 0; 
}

.work-item__img {
  width: 100%; 
  display: block;
  width:177.777%;
}

.work-item__img--left {
  margin:0 -38.885%;
}

.work-item__content {
  padding: 2rem 1rem; 
}

.work-item__title {
  margin-top: 0; 
}

.thumb {
  max-width: 600px;  
  overflow: hidden;
  background: rgb(228,47,115);
  background: linear-gradient(45deg, rgba(228,47,115,1) 0%, rgba(255,102,0,1) 100%);
}

.thumb__img {
  width: 100%; 
  display: block;
  margin:0 -38.885%;
  width:139.777%;
  mix-blend-mode: multiply;
  opacity: .4;
}

.clients {
  background: rgb(228,47,115);
  background: linear-gradient(0deg, rgba(228,47,115,1) 0%, rgba(255,102,0,1) 100%);
  padding: 2rem 1rem; 
}

.clients__wrapper {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  min-width: 100%;
  margin-left: -1rem; 
  margin-right: -1rem;  
}

.clients__item {
  flex: 1 1 50%; 
  max-width: 50%; 
  text-align: center;
  padding: 1rem; 
}

.clients__item--hidden {
  display: none; 
}

.clients__quotes {
 flex: 1 1 100%; 
 width: 100%; 
 padding: 2rem 0; 
 text-align: center;
}

.footer {
  padding: 2rem 0;
  text-align: center; 
}

.text-highlight {
    color: #E42F73; 
}

.hidden-visually {
  border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.no-scroll {
  overflow: hidden;
}

.text-right { 
  text-align: right;
}