.menu {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -900px;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu.is-open {
    left: 0; 
}